<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>$id</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.8/sjcl.min.js"></script>
    <link rel="stylesheet" href="/styles/paste_style.css">
    <link rel="stylesheet" href="/styles/theme.css">
    <link rel="stylesheet"
          href="/styles/highlight_solorized.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script defer src="/js/decryptor.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/logo.ico">
</head>
<body>
<div id="content">
    <p id="paste_content">$paste_content</p>
</div>
<footer id="footer">
    <a href="https://github.com/xrv0/lazybin">Github</a> <a href="https://twitter.com/lazybin0">Twitter</a> <a href="https://www.buymeacoffee.com/lazybin">Donate</a>
</footer>
</body>
</html>