#paste_content {
    outline: none;
    border: none;
    background: white;
    box-shadow: 4px 8px 20px rgba(215, 74, 9, 0.4);
    border-radius: 12px;
    height: 240px;
    padding: 28px;
    max-width: 90%;
    margin: 12px;
    color: black;
    text-align: left;
    margin: 0 auto;
}

