div#menu {
    border: 1px solid black;
    background-color: grey;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
}

textarea#paste_content {
    resize: none;
    width: 80%;
    background-color: #000e13;
    color: white;
    padding: 5px;
}