#paste_content {
    box-shadow: 4px 8px 20px rgba(215, 74, 9, 0.4);
    border-radius: 12px;
    height: 240px;
    min-width: 70%;
    margin: 12px;
    font-size: 16px;
}

#content_extended_settings {
    padding: 10px;
    display: none;
}

#description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

#description-heading {
    margin-bottom: 0px;
}

@media only screen and (max-device-width: 1000px)
{
    #description-extended {
        display: none;
        color: red;
    }
}