body {
    background-color: #002b36;
    color: white;
    font-family: Tahoma;
    font-size: 14px;
}

#footer {
    background-color: #000e13;
    position: fixed;
    padding: .6em;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}