body {
    background-color: #002b36;
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    background: rgb(250,135,0);
    background: linear-gradient(90deg, rgba(250,135,0,1) 0%, rgba(234,76,9,1) 100%);
    text-align: center;
}

#paste_content {
    outline: none;
    border: none;
    background: white;
    transition: box-shadow .3s;
    text-align: left;
    padding: 28px;
}

#paste_content:hover {
    box-shadow: 8px 12px 24px rgba(47, 47, 47, 0.4);
}

.header {
    position: static;
    margin: 20px;
    overflow: hidden;
    font-size: 24px;
}

.header .left{
    float: left;
}

.header .right{
    float: right;
}

.header a:link,
.header a:visited,
.header a:hover,
.header a:active {
    color: white;
}

#footer {
    position: fixed;
    padding: .6em;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: white;
}

#footer a:link,
#footer a:visited,
#footer a:hover,
#footer a:active {
    color:#FE520A;
}

button {
    position: relative;
    margin: 12px;
}

button.normal {
    transition: all .2s ease-in-out;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 28px;
    height: 56px;
    padding: 0 48px;
    font-weight: 400;
    font-size: 25px;
    color: #FE520A;
    cursor: pointer;
    line-height: 28px;
    box-shadow: 4px 8px 20px rgba(157, 157, 157, 0.4);
}

button.normal:hover {
    box-shadow: 6px 9px 24px rgba(38, 38, 38, 0.4);
    transform: scale(1.04);
}

button.minimalistic {
    background: none;
    border: none;
    color: #262626;
    font-size: 13px;
    text-decoration: underline;
}
