body {
    background-color: #002b36;
    color: #000e13;
    font-family: monospace;
}

#footer {
    background-color: #000e13;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}